body
{
    background-color: #f8f8f8;
}

.social-list a
{
    margin: 0 .2rem;

    opacity: .6;
    color: white;
}

.social-list a:hover
{
    opacity: 1;
}

.carousel
{
    overflow: hidden;

    height: 500px;
}
.carousel-inner
{
    overflow: visible;
}
.carousel-inner img
{
    position: absolute;
    top: 250px;
    left: 50%;

    min-width: 100%;
    max-width: none;
    min-height: 500px;

    transform: translate(-50%,-50%);
}

.carousel-caption
{
    position: absolute;
    top: 150px;
}

@media (max-width: 1199px)
{
    .carousel
    {
        height: 400px;
    }

    .carousel-inner img
    {
        top: 200px;

        min-height: 400px;
    }

    .carousel-caption
    {
        top: 130px;
    }

    .carousel-caption .display-2
    {
        font-size: 3.5rem;
    }
}

@media (max-width: 991px)
{
    .carousel
    {
        height: 350px;
    }

    .carousel-inner img
    {
        top: 175px;

        min-height: 350px;
    }

    .carousel-caption
    {
        top: 125px;
    }

    .carousel-caption .display-2
    {
        font-size: 3rem;
    }
}


@media (max-width: 767px)
{
    .carousel
    {
        height: 300px;
    }

    .carousel-inner img
    {
        top: 150px;

        min-height: 300px;
    }

    .carousel-caption
    {
        top: 100px;
    }

    .carousel-caption .display-2
    {
        font-size: 2.5rem;
    }
}

@media (max-width: 575px)
{
    .carousel
    {
        height: 200px;
    }

    .carousel-inner img
    {
        top: 100px;

        min-height: 200px;
    }

    .carousel-caption
    {
        top: 50px;
    }

    .carousel-caption .display-2
    {
        font-size: 2rem;
    }
}




.sub-block
{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

/*footer*/
.footer
{
    padding: 2rem 0;
}

.copyright
{
    text-align: center;
}
